@model EXAMSYSTEM.CORE.Models.Question

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" asp-action="Create" id="CreateQuestion">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="SubjectId" class="col-sm-3 col-form-label">Subject</label>
                        <div class="col-sm-9">
                            <select type="text" class="form-control" asp-for="SubjectId" asp-items="@(new SelectList(ViewBag.ListOfSubject, "SubjectId", "SubjectName"))"></select>
                            <span asp-validation-for="SubjectId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="QuestionContent" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Question" asp-for="QuestionContent" id="question">
                            <span asp-validation-for="QuestionContent" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Option1" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Option" asp-for="Option1" id="option1">
                            <span asp-validation-for="Option1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Option2" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Option" asp-for="Option2" id="option2">
                            <span asp-validation-for="Option2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Option3" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Option" asp-for="Option3" id="option3">
                            <span asp-validation-for="Option3" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Option4" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Option" asp-for="Option4" id="option4">
                            <span asp-validation-for="Option4" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Answer" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Answer" asp-for="Answer" id="answer">
                            <span asp-validation-for="Answer" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success mr-2" id="Create">Create</button>
                        <button asp-action="Index" class="btn btn-light">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        document.getElementById("CreateQuestion").addEventListener("keyup", function () {
            var question = document.getElementById('question').value;
            var option1 = document.getElementById('option1').value;
            var option2 = document.getElementById('option2').value;
            var option3 = document.getElementById('option3').value;
            var option4 = document.getElementById('option4').value;
            var answer = document.getElementById('answer').value;
            if (question != "" && option1 != "" && option2 != "" && option3 != "" && option4 != "" && answer != "") {
                document.getElementById('Create').removeAttribute("disabled");
            } else {
                document.getElementById('Create').setAttribute("disabled", null);
            }
        });
    </script>
}