@model EXAMSYSTEM.CORE.Models.Question

@{
    ViewData["Title"] = "Edit";
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="QuestionId" />
                    <div class="form-group row">
                        <label asp-for="SubjectId" class="col-sm-3 col-form-label">Subject</label>
                        <div class="col-sm-9">
                            <select type="text" class="form-control" id="exampleInputEmail2" asp-for="SubjectId" asp-items="@(new SelectList(ViewBag.ListOfSubject, "SubjectId", "SubjectName"))"></select>
                            <span asp-validation-for="SubjectId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="QuestionContent" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="QuestionContent" class="form-control" id="exampleInputEmail2">
                        </div>
                        <span asp-validation-for="QuestionContent" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Option1" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Option1" class="form-control" id="exampleInputEmail2">
                        </div>
                        <span asp-validation-for="Option1" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Option2" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Option2" class="form-control" id="exampleInputEmail2">
                        </div>
                        <span asp-validation-for="Option2" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Option3" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Option3" class="form-control" id="exampleInputEmail2">
                        </div>
                        <span asp-validation-for="Option3" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Option4" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Option4" class="form-control" id="exampleInputEmail2">
                        </div>
                        <span asp-validation-for="Option4" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Answer" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Answer" class="form-control" id="exampleInputEmail2">
                        </div>
                        <span asp-validation-for="Answer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success mr-2">Save</button>
                        <button class="btn btn-light" asp-action="Index">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>