@model BookManagement.Core.Models.Author

<div class="col-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <h3 class="text-primary">@Html.DisplayFor(model => model.AuthorName)</h3>
                <p> @Html.DisplayFor(model => model.AuthorBio)</p>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.AuthorId"><label class="badge badge-warning">Edit</label></a>
                <a asp-action="Index"><label class="badge badge-danger">Back</label></a>
            </div>
          </div>
     </div>
 </div>

