@model BookManagement.Core.Models.Author

<div class="row">
    <div class="col-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="AuthorId" />
                    <div class="form-group row">
                        <label asp-for="AuthorName" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="AuthorName" class="form-control" id="exampleInputEmail2" asp-for="AuthorName">
                        </div>
                        <span asp-validation-for="AuthorName" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="AuthorBio" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <textarea  asp-for="AuthorBio" class="form-control" id="exampleInputPassword2" asp-for="AuthorBio" rows="25">
                            </textarea>
                        </div>
                        <span asp-validation-for="AuthorBio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success mr-2">Save</button>
                        <button class="btn btn-light" asp-action="Index">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

