@model BookManagement.Core.Models.Genre

<div class="col-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <h3 class="text-primary">@Html.DisplayFor(model => model.GenreName)</h3>
            </div>
            <div>
                <form asp-action="Delete">
                    <div class="form-group">
                        <input type="hidden" asp-for="GenreId" />
                        <button type="submit" class="btn btn-danger mr-2">Delete</button>
                        <button asp-action="Index" class="btn btn-light" asp-action="Index">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
